{% extends 'base.html.twig' %}

{% block title %}Cargar Instrumentación Didáctica{% endblock %}

{% block body %}

   <style>
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
    @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
    .fa-2x {
        font-size: 2em;
    }
    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size:30px;
        color: #F9F6EE;
    }
    .nav-text {
        position:relative;
        display:table-cell;
        vertical-align:middle;
        width:190px;
        font-family: 'Titillium Web', sans-serif;
        
    }
    .nav-button {
        position:relative;
        display:table-cell;
        vertical-align:middle;
        font-family: 'Titillium Web', sans-serif;
    }

    </style>
    <nav class="navbar navbar-expand-sm " style="background-color: #4682B4 ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white my-1 my-sm-0" href="{{ path('app_clase', {'id': grupo.getId}) }}"><span class="nav-button">Regresar</span></a>
                </li>
            </ul> 
            <form class="form-inline mx-0 my-lg-0 mb-5">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" ><i class="fa fa-user-circle fa-2x" ></i><span class="nav-text">{{user}}</span></a>
                </li>
                <li class="nav-item active">
                    <br>
                </li>
            </ul>
            <a class="nav-link text-white my-1 my-sm-0" href="{{ path('app_logout') }}"><i class="fa fa-sign-out fa-2x" ></i><span class="nav-button">Cerrar Sesión</span></a>
            </form>
        </div>
    </nav>
<div class="container bg-white w-50 rounded shadow my-4 p-3" style="text-align: center;">
    {{ form_start(form) }}
    {% if instrumentacion %}
        <div class="alert alert-danger">Ya existe una Instrumentación Didáctica para este curso ¿Deseas Reemplazarla?</div>
        <div class="col-md-12 py-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1667px-PDF_file_icon.svg.png" style="width:60px;height:83px;margin-top:auto;margin-bottom:auto;">
         </div>
    {% endif %}
     <div class="col-md-12 py-4">
        {{form_label(form.instrumentacion_didactica)}}
        {{form_widget(form.instrumentacion_didactica, { 'attr': {'class': 'form-control'} })}}
     </div>
    <div class="col-md-12 py-4">
        {{form_label(form.Almacenar)}}
        {{form_widget(form.Almacenar, { 'attr': {'class': 'btn btn-primary btn-sm btn-block'} })}}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}