{% extends 'base.html.twig' %}

{% block title %}Reestablecer Password{% endblock %}

{% block body %}

   <style>

    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
    @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
    .fa-2x {
        font-size: 2em;
    }
    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size:30px;
        color: #F9F6EE;
    }
    .nav-text {
        position:relative;
        display:table-cell;
        vertical-align:middle;
        width:190px;
        font-family: 'Titillium Web', sans-serif;
    }
    .nav-button {
        position:relative;
        display:table-cell;
        vertical-align:middle;
        font-family: 'Titillium Web', sans-serif;
    }
    </style>
    <nav class="navbar navbar-expand-sm " style="background-color: #4682B4 ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link text-white my-1 my-sm-0" href="{{ path('app_home_docente') }}"><span class="nav-button">Regresar</span></a>
        </li>
        </ul> 
            <form class="form-inline mx-0 my-lg-0 mb-5">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" ><i class="fa fa-user-circle fa-2x" ></i><span class="nav-text">{{user}}</span></a>
                </li>
                <li class="nav-item active">
                    <br>
                </li>
            </ul>
            <a class="nav-link text-white my-1 my-sm-0" href="{{ path('app_logout') }}"><i class="fa fa-sign-out fa-2x" ></i><span class="nav-button">Cerrar Sesi칩n</span></a>
            </form>
    </div>
    </nav>

    <div class="bg-white container w-50  rounded shadow mt-4 mb-4" >

            <h5 class="fw-bold text-center text-info py-2">Reestablecer Contrase침a</h5>

            <div class="form-group">
              
                <form action="/usuario/{{user.id}}/change_password" method="POST" enctype="multipart/form-data">  
                    <div class="col-md-12 my-2 form-group">
                        <label for="usuario">Usuario: </label>
                        <input  class="form-control" id="usuario" name="usuario" value="{{user}}" disabled>
                    </div>
                    <div class="col-md-12 my-2 form-group">
                        <label for="newpassword">Nueva Contrase침a: </label>
                        <input  class="form-control" id="newpassword" name="newpassword" placeholder="" minlength="7" maxlength="12" required>
                    </div>
                    <div class="col-md-12 my-2 form-group">
                        <label for="confirmnewpassword">Confirmar Contrase침a: </label>
                        <input class="form-control" id="confirmnewpassword" name="confirmnewpassword" placeholder="" minlength="7" maxlength="12" required>
                    </div>
                    <div class="col-md-12 my-4  py-4 form-group">
                        <input class="btn btn-primary btn-block" type="submit" value="Actualizar" >
                    </div>     
                </form>   
            </div>         
    </div>

{% endblock %}
