{% extends 'base.html.twig' %}

{% block title %}Index Alumno{% endblock %}

{% block body %}
    <style>
        @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
        @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
            .fa-2x {
                font-size: 2em;
                }
            .fa {
                position: relative;
                display: table-cell;
                width: 15px;
                height: 18px;
                text-align: center;
                vertical-align: middle;
                font-size:18px;
                color: #F9F6EE;
                }

            .nav-text {
                position:relative;
                display:table-cell;
                vertical-align:middle;
                width:190px;
                font-family: 'Titillium Web', sans-serif;
                
                }

            .nav-button {
                position:relative;
                display:table-cell;
                vertical-align:middle;
                font-family: 'Titillium Web', sans-serif;
                } 
    </style>
    <nav class="navbar navbar-expand-sm " style="background-color: #4682B4 ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white my-1 my-sm-0" href="{{ path('app_home_administrador') }}"><i class="fa fa-home fa-2x" ></i><span class="nav-button">Home</span></a>
            </li>
            </ul>
            <form class="form-inline mx-0 my-lg-0 mb-5">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" ><i class="fa fa-user-circle fa-2x" ></i><span class="nav-text">{{user}}</span></a>
            </li>
            <li class="nav-item active">
                <br>
            </li>
            </ul>
            <a class="nav-link text-white my-1 my-sm-0" href="{{ path('app_logout') }}"><i class="fa fa-sign-out fa-2x" ></i><span class="nav-button">Cerrar Sesión</span></a>
            </form>
    </div>
    </nav>
    
<div class="bg-white container w-70  rounded shadow mt-4" >
 <h5 class="fw-bold text-center text-info py-2">Alumnos</h5>
<div class="row align-items-stretch">

<div class="col bg-white px-0">
        
        </div>
            <div class=" d-flex flex-row-reverse py-2 px-4">
            <a class="btn btn btn-info btn-sm" href="{{ path('app_alumno_new') }}">+ Ingresar Alumno</a>
            <a style="margin-right:10px;" class="btn btn btn-info btn-sm" href="{{ path('app_carga_masiva_alumno') }}">+ Carga Masiva </a>
        </div>
</div>

    <table class="table table-sm table-bordered table-hover" style="text-align:center">
        <thead class="thead-light">
            <tr>
                <th>N.C.</th>
                <th>Apellidos</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for alumno in pagination %}
            <tr>
                <td>{{ alumno.numero_control }}</td>
                <td>{{ alumno.apellido_paterno }} {{ alumno.apellido_materno }}</td>
                <td>{{ alumno.nombre_alumno }}</td>         
                <td>{{ alumno.clave   }}</td>
                <td>
                   <div class="d-flex flex-row justify-content-center">
        
                    <a class="btn btn-primary btn-sm" href="{{ path('app_alumno_edit', {'id': alumno.id}) }}"><i class="fa fa-pencil-square-o"></i></a>
                    <form method="post" action="{{ path('app_alumno_delete', {'id': alumno.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alumno.id) }}">
                     <button style ="margin-left: 10px;" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                    </form>
                  </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="navigation" style="display: flex; justify-content: center;">
            {{ knp_pagination_render (pagination) }}
        </div>
    </div>
{% endblock %}
