{% extends 'base.html.twig' %}

{% block title %}Bienvenido: Administrador{% endblock %}

{% block body %}
  <style>
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); 
    @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
    .fa-2x {
        font-size: 2em;
    }
    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size:30px;
        color: #F9F6EE;
    }
    .main-menu:hover,nav.main-menu.expanded {
        width:250px;
        overflow:visible;
    }
    .main-menu {
        background: #4682B4;
        border-right:1px solid #e5e5e5;
        position:absolute;
        top:0;
        bottom:0;
        height:100%;
        left:0;
        width:60px;
        overflow:hidden;
        -webkit-transition:width .05s linear;
        transition:width .05s linear;
        -webkit-transform:translateZ(0) scale(1,1);
        z-index:1000;
    }
    .main-menu>ul {
        margin:7px 0;
    }

    .main-menu li {
        position:relative;
        display:block;
        width:250px;
    }
    .main-menu li>a {
        position:relative;
        display:table;
        border-collapse:collapse;
        border-spacing:0;
        color:white;
        font-family: arial;
        font-size: 14px;
        text-decoration:none;
        -webkit-transform:translateZ(0) scale(1,1);
        -webkit-transition:all .1s linear;
        transition:all .1s linear;  
    }

    .main-menu .nav-icon {
        position:relative;
        display:table-cell;
        width:60px;
        height:36px;
        text-align:center;
        vertical-align:middle;
        font-size:18px;
    }

    .main-menu .nav-text {
        position:relative;
        display:table-cell;
        vertical-align:middle;
        width:190px;
          font-family: 'Titillium Web', sans-serif;
    }

    .main-menu>ul.logout {
        position:absolute;
        left:0;
        bottom:0;
    }
    .no-touch .scrollable.hover {
        overflow-y:hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y:auto;
        overflow:visible;
    }

    a:hover,a:focus {
        text-decoration:none;
    }

    nav {
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        -o-user-select:none;
        user-select:none;
    }

    nav ul,nav li {
        outline:0;
        margin:0;
        padding:0;
    }
    .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
        color:#fff;
        background-color:#C0C0C0;
    }
    .area {
        float: left;
        background: #e2e2e2;
        width: 100%;
        height: 100%;
    }
    @font-face {
          font-family: 'Titillium Web';
          font-style: normal;
          font-weight: 300;
          src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
    } 
  </style>

  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <header>
  <div class="area"></div><nav class="main-menu bg-#4682B4">
            <ul>
                <li>
                    <a href="">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Inicio
                        </span>
                    </a>  
                </li>
                <li class="has-subnav">
                    <a href="{{ path('app_alumno_index') }}">
                        <i class="fa fa-cubes fa-2x"></i>
                        <span class="nav-text">
                            Alumnos
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="{{ path('app_empleado_index') }}">
                       <i class=" fa fa-users fa-2x"></i>
                        <span class="nav-text">
                            Empleados
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="{{ path('app_grupo_index') }}">
                       <i class="fa fa-paper-plane-o fa-2x"></i>
                        <span class="nav-text">
                            Grupos
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_materia_index') }}">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                            Materias
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_carrera_index') }}">
                        <i class="fa fa-paint-brush fa-2x"></i>
                        <span class="nav-text">
                           Carreras
                        </span>
                    </a>
                </li>
            </ul>
                <li>
                    <a href="{{ path('app_departamento_index') }}">
                        <i class="fa fa-building-o fa-2x"></i>
                        <span class="nav-text">
                           Departamentos
                        </span>
                    </a>
                </li>
            </ul>
            <li>
                    <a href="{{ path('app_periodo_index') }}">
                        <i class="fa 	fa fa-calendar fa-2x"></i>
                        <span class="nav-text">
                           Fechas
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="logout"> 
            <li>
                   <a href="{{ path('cambiar_password_admin') }}">
                         <i class="fa fa-key fa-2x"></i>
                        <span class="nav-text">
                            Cambiar Contraseña
                        </span>
                    </a>
                </li>  
                <li>
                   <a href="{{ path('app_logout') }}">
                         <i class="fa fa-sign-out fa-2x"></i>
                        <span class="nav-text">
                            Cerrar Sesión
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
</header>
    <main>
        <div class="bg-white container  mt-5 rounded shadow" >
            <div class="row">
                <div class="col bg-white mt-5  px-5">
                    <img src="https://www.tecnm.mx/images/tecnm_virtual/tecnm.png" class="img-fluid" draggable="false">
                </div>
                <div class="col bg-white p-5 rounded">
                 <div class="my-4">
                    <h4 style="font-family:verdana; color:#00688B;" class="fw-bold text-center  py-2"><strong>Tecnológico Nacional de México</strong></h5>
                </div>
                 <div class="my-4">
                    <h5 style="font-family:verdana; color:#00688B;" class="fw-bold text-center  py-2"><strong>Instituto Tecnológico de Chilpancingo</strong></h5>
                </div>
                 <div class="my-4">
                    <h4 style="font-family:verdana; color:#539DC2;" class="fw-bold text-center  py-2"><strong>S I G E S C </strong></h6>
                </div>
                <div class="my-4">
                    <h5 style="font-family:verdana; color:#539DC2;" class="fw-bold text-center  py-2"><strong>Sistema de Gestión del Curso y Seguimiento Docente</strong></h5>
                </div>
                <div class="my-4">
                    <h5 style="font-family:verdana; color:#00688B;" class="fw-bold text-center  py-2"><strong>B I E N V E N I D O</strong></h5>
                </div>
                <div class="my-4">
                    <h6 style="font-family:verdana; color:#74BBFB;" class="fw-bold text-center  py-2"><strong>{{user}}</strong></h6>
                </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
