{% extends 'base.html.twig' %}

{% block title %}Primer Seguimiento{% endblock %}

{% block body %}

<style>
        @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
        @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
    .fa-2x {
        font-size: 2em;
      }
    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size:30px;
        color: #F9F6EE;
      }
    .nav-text {
        position:relative;
        display:table-cell;
        vertical-align:middle;
        width:190px;
        font-family: 'Titillium Web', sans-serif;
    }
    .nav-button {
        position:relative;
        display:table-cell;
        vertical-align:middle;
        font-family: 'Titillium Web', sans-serif;
    }
        
    

</style>
<nav class="navbar navbar-expand-sm " style="background-color: #7D9D9C ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white my-1 my-sm-0" href="{{ path('app_seguimientos_1') }}"><i class="fa fa-reorder fa-2x" ></i><span class="nav-button">Regresar</span></a>
      </li>
    </ul>
    <form class="form-inline mx-0 my-lg-0 mb-5">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" ><i class="fa fa-user-circle fa-2x" ></i><span class="nav-text">{{usuario}}</span></a>
      </li>
      <li class="nav-item active">
        <br>
      </li>
    </ul>
      <a class="nav-link text-white my-1 my-sm-0" href="{{ path('app_logout') }}"><i class="fa fa-sign-out fa-2x" ></i><span class="nav-button">Cerrar Sesión</span></a>
    </form>
  </div>
</nav>

<div class="bg-white container w-70  rounded shadow mt-4 p-4" >
    <h5 style="color: #7D9D9C" class="fw-bold text-center text-black py-2">Primer Seguimiento Grupo: {{grupo.getClaveGrupo}} - {{grupo.getMateria.getNombreMateria}} </h5>
    <h5 style="color: #7D9D9C" class="fw-bold text-center text-black py-2">Docente: {{grupo.getDocente.getNombreEmpleado}}  {{grupo.getDocente.getApellidoPaterno}} {{grupo.getDocente.getApellidoMaterno}}</h5>
    <div class="row align-items-stretch">
        <div class="col bg-white px-0">       
    </div>
    <div class=" d-flex flex-row-reverse py-2 px-4">
    </div>
    <table class="table table-sm table-bordered table-hover" style="text-align: center">
         <thead class="thead-light">
            <tr>
                <th rowspan ="2">Unidad</th>
                <th colspan ="3">Programado</th>
                <th colspan ="3">Real</th>
                <th rowspan ="2">% Aprob.</th>
                <th rowspan ="2">Evidencia</th>
                <th rowspan ="2">Estado</th>
                <th rowspan ="2">Resultado</th>
            </tr>
             <tr>
                <th >Inicio</th>
                <th >Cierre</th>
                <th >Ev.</th>
                <th >Inicio</th>
                <th >Cierre</th>
                <th >Ev.</th>
            </tr>
        </thead>
        <tbody >
      {% for seguimiento in seguimientos %}
            <tr>
                <td>{{ seguimiento.getTema.getNumeroUnidad}}. {{ seguimiento.getTema.getNombreUnidad }}</td>
                <td>{{ seguimiento.getFechaProgInicio ? seguimiento.getFechaProgInicio|date('d-m-Y') : '' }}</td>
                <td>{{ seguimiento.getFechaProgFin ? seguimiento.getFechaProgFin|date('d-m-Y') : '' }}</td>
                <td>{{ seguimiento.getEvaluacionProgramada ? seguimiento.getEvaluacionProgramada|date('d-m-Y') : '' }}</td>
                <td>{{ seguimiento.getFechaRealInicio ? seguimiento.getFechaRealInicio|date('d-m-Y') : '' }}</td>
                <td>{{ seguimiento.getFechaRealFin ? seguimiento.getFechaRealFin|date('d-m-Y') : '' }}</td>
                <td>{{ seguimiento.getEvaluacionReal ? seguimiento.getEvaluacionReal|date('d-m-Y') : '' }}</td>
                <td>{{ seguimiento.getPorcentajeAprobacion }}%</td>
                <td>{% if seguimiento.getEvidencia %}<a href="{{seguimiento.getEvidencia}} " target="_blank">Evidencia</a>{% endif %}</td>
                <td>{{ seguimiento.getEstado}}</td>
                <td>
                    <form action="/primer_seguimiento/{{seguimiento.getId}}/calificar" method="POST" enctype="multipart/form-data">
                    <input type="radio" id="aprobado" name="estado" value="Aprobado" required >
                    <label for="aprobado">Aprobado</label><br><br>
                    <input type="radio" id="pendiente" name="estado" value="Pendiente" required>
                    <label for="pendiente">Pendiente</label><br>  
                    <input class="btn btn-success btn-sm" type="submit" value="Evaluar">
                    </form>
                </td>
            </tr> 
      {% else %} 
             <tr>
                <td colspan="11">Sin registros</td>
            </tr>
      {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
