{% extends 'base_dashboard_jefe_academico.html.twig' %}

{% block title %}Documentos{% endblock %}
{% block main %}

<div class="bg-white container w-70  rounded shadow mt-4 p-4" >
    <h5 class="fw-bold text-center text-black py-2">Inst. Didáctica y Plan Av. Prog. del Departamento de {{departamento}}</h5>
    <div class="row align-items-stretch">
        <div class="col bg-white px-0">     
    </div>
    <div class=" d-flex flex-row-reverse py-2 px-4">
    </div>
    <table class="table table-sm table-bordered table-hover" style="text-align:center">
        <thead class="thead-light">
             <tr>
                <th >Grupo</th>
                <th >Materia</th>
                <th >Titular</th>
                <th >Carrera</th>
                <th >Inst. Didáctica</th>
                <th >Plan. del Curso</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0%}
      {% for grupo in pagination %}
        <tr>
                <td>{{ grupo.clave_grupo }}</td>
                <td>{{ grupo.nombre_materia }}</td>
                <td>{{ grupo.nombre_empleado }} {{ grupo.apellido_paterno }}</td>
                <td>{{ grupo.clave_carrera}}</td>
                <td style="text-align: center; ">{% if grupo.instrumentacion_didactica %}<a href="{{ asset('uploads/instrumentacion/' ~ grupo.instrumentacion_didactica) }}"><i class="fa fa-stack fa-file-pdf-o fa-lg" style="color: red;"></i><span class="nav-text">Mostrar</span></a>{% endif %}</td>
                <td style="text-align: center; "><a href="{{ path('app_archivo_plan_avance', {'id': grupo.id}) }}"><i class="fa fa-stack fa-file-pdf-o fa-lg" style="color: red;"></i><span class="nav-text">Mostrar</span></a></td>      	
            </tr>
        {% set i = i + 1%}
      {% else %} 
             <tr>
                <td colspan="6">Sin registros</td>
            </tr>
      {% endfor %}
      <caption>No. de Grupos: {{i}}</caption>
        </tbody>
    </table>
</div>
    <div class="navigation" style="display: flex; justify-content: center;">
        {{ knp_pagination_render (pagination) }}
    </div>
{% endblock %}
