{% extends 'base_dashboard_docente.html.twig' %}

{% block title %}Documentos{% endblock %}

{% block main %}

<div class="bg-white container w-70  rounded shadow mt-4 p-4" >

    <h5 class="fw-bold text-center text-info py-2">Mis Recursos</h5>

    <div class="row align-items-stretch">
        <div class="col bg-white px-0">     
    </div>
    <div class=" d-flex flex-row-reverse py-2 px-4">
    </div>
        <table class="table table-sm table-bordered table-hover" style="text-align:center">
            <thead class="thead-light">
                <tr>
                    <th>No.</th>
                    <th >Documento</th>
                    <th >Periodo</th>
                    <th >Estado</th>
                    <th >Archivo</th>
                </tr>
            </thead>
            <tbody>
            {% set i = 0%}
        {% for documento in documentos %}
            {% set i = i + 1%}
            <tr>
                    <td>{{ i }}.</td>
                    <td> Reporte Final</td>
                    <td>{{ documento.getPeriodo }}</td>
                    <td>{{ documento.getEstado}}</td>
                <td style="text-align: center; "><a href="{{ asset('uploads/reporte_final/' ~ documento.getReporteFinal) }}"><i class="fa fa-stack fa-file-pdf-o fa-lg" style="color: red;"></i><span class="nav-text">Consultar</span></a></td>
                        
                </tr>
            
        {% else %} 
                <tr>
                    <td colspan="5">Sin registros</td>
                </tr>
        {% endfor %}
        <caption>No. de Documentos: {{i}}</caption>
            </tbody>    
        </table>
</div>
{% endblock %}
